@font-face {
  font-family: "Kimberley";
  src: url(https://dennisliu1.github.io/public/fonts
  Inconsolata.otf) format("truetype");
}

body {
  /*background-color: #F8ECC2;*/
  /*background-color: #fbf0c8;*/

  background-color: #F9F0E3;

  /*background-color: #FBEAD4;*/
  /*background-color: #EAD9C7;*/
  /*background-color: #F1DFCE;*/
  /*background-color: #FBE3CB;*/
  /*background-color: #524D4C;*/
  /*position: relative;*/
  padding-bottom: 20%;
}

#landing-page-container {
  width: 100%;
  height: 200px;
}

#header {
  position: relative;
  left: 10px;
  padding-bottom: 50px;
  margin-top: 10px;
  /*margin-right: 20px;*/
}
  #header-name {
    margin-top: 0px;
  }

#content {
  position: relative;
  padding-bottom: 10px;
}

/* content css */
  /* current section */
  #current-summary {
    padding-bottom: 30px;
  }

  .content-item, .content-item-ele {
    position: relative;
    padding-bottom: 5px;
  }

  .content-point {
    position: relative;
    left: 15px;
    color: #25291C;
  }

  .credits {
    position: relative;
    right: auto;
    padding-top: 10%;
    font-size: 80%;
  }


  .contact-link {
    padding-bottom: 2px;
  }
  #contact-linkedin-img {
    bottom: 3px;
    position: relative;
  }
  #contact-github-img {
    bottom: 2px;
    position: relative;
  }

/* desktop horizontal */
@media (min-width: 992px) {

}

.col-md-2-5 {
  width: 25%;
}

/* GLOBALS */

img {

}

a {
  color: #25291C;
  text-decoration: underline;
}



h1 {
  font-weight: 400;
  font-size: 150%;
  font-weight: bold;
  /*color: #05668D;*/
  color: #078FC5;
}

h2 {
  font-weight: 400;
  font-size: 125%;
  font-weight: bold;
  /*color: #05668D;*/
  color: #078FC5;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
* {
  /*font-family: inconsolata; important!*/
}
