body {
  /*background-color: #F8ECC2;*/
  background-color: #fbf0c8;
}

#landing-page-container {
  width: 100%;
  height: 400px;
}

#header {
  position: relative;
  left: 50px;
  padding-bottom: 50px;
}

#content {
  position: relative;
  left: 50px;
  padding-bottom: 50px;
}

  .summary-col {
    display: inline-block;
  }

  .content-summary {
    position: relative;
  }

  .summary-label-col {
    width: 150px;
    position: absolute;
    top: 0px;
  }

  .summary-content-col {
    padding-left: 100px;
  }

  /*.overall-summary {
    height: 200px;
  }

    .content-summary {
      position: absolute;
      top: 0px;
      padding-bottom: 5px;
      display: inline-block;
      padding-right: 50px;
    }

    #working {
      left: 0px;
    }

    #creating {
      left: 300px;
    }

    #skills {
      left: 600px;
    }*/

    .content-container {
      position: relative;
      padding-bottom: 5px;
    }

    .content-section-end {
      padding-bottom: 30px;
    }

      .label-col {
        padding: 10px 0px;
      }

      .content-col {

      }

      .content-label {
        padding: 0px;
        margin: 0px;
      }

      .content-item {
        padding-top: 5px;
        padding-bottom: 1px;
      }

        .item-name {
          text-decoration:underline;
          display: inline-block;
        }

        .item-points {
          position: relative;
          left: 10px;
        }

          .item-points-name {

          }

          .item-points-descr {
            position: relative;
            left: 10px;
          }

#footer {
  position: relative;
  left: 50px;
}
